<% content_for :banner do %>
<div class="banner box">
	<%= image_tag "flash4.jpg", width: "940px", height: "195px" %>
</div>
<% end %>

<div class="yw box">
	<h3 class='head'>联系我们/Contact Us</h3>
	<p>江苏靠岸系统集成有限公司，始建于2008年，注册奖金500Ｗ元，公司专业从事建筑智能化系统集成设计和施工，同时经营新风系统，太阳能路灯等专业业务。公司成立以来，完成了十余个智能化工程， 江苏靠岸系统集成有限公司一如既往地遵从"用户就是上帝"的服务原则，"以稳定、可靠、适用，创造技术与艺术的统一"的质量方针，以良好的服务形象，规范的操作程序，优秀的工程质量服务用户，回报社会。 </p>
	<h4><b>Google 地图查看</b></h4>
	<iframe width="700" scrolling="no" height="420" frameborder="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%BC%A0%E5%AE%B6%E6%B8%AF%E6%9D%A8%E8%88%8D%E8%A5%BF%E8%A1%975%E5%8F%B7&amp;aq=&amp;sll=35.86166,104.195397&amp;sspn=30.496302,79.013672&amp;vpsrc=0&amp;brcurrent=3,0x35b3d8d0479c1261:0x7147778180c613dd,0,0x35b3a0d19bd25e07:0x21e57f85bd766004%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%B1%9F%E8%8B%8F%E7%9C%81%E8%8B%8F%E5%B7%9E%E5%B8%82%E5%BC%A0%E5%AE%B6%E6%B8%AF%E5%B8%82%E6%9D%A8%E8%88%8D%E8%A5%BF%E8%A1%975%E5%8F%B7&amp;t=m&amp;z=14&amp;ll=31.862856,120.546378&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
</div>