<% content_for :banner do %>
<div class="banner box">
	<%= image_tag "banner4.jpg" %>
</div>
<% end %>

<div class="yw box">
	<h3 class='head'>公司业务/What We Do</h3>
	<div class="info">
		<h3>智能化工程</h3>
		<p>致力于建筑智能化工程设计与施工，施工范围包括楼宇综合布线及计算机网络系统工程、设备监控系统工程、安防系统工程、通信系统工程、灯光音响广播会议系统工程、智能卡系统工程、车库管理系统工程、物业管理综合信息系统工程、卫星及共用电视系统工程、信息显示发布系统工程、智能化系统机房工程、智能化系统集成工程</p>
		<%= image_tag "cp100.jpg", width: "300px" %>
		<h3>新风系统</h3>		<p>新风系统是由风机、进风口、排风口及各种管道和接头组成。安装在吊顶内的风机通过管道与一系列的排风口相连，风机启动，室内受污染的空气经排风口及风机排往室外，使室内形成负压，室外新鲜空气便经安装在窗框上方（窗框与墙体之间）的进风口进入室内，从而使室内人员可呼吸到高品质的新鲜空气。</p>
		<%= image_tag "y.jpg" %>
		<h3>太阳能路灯</h3>
		<p>太阳能路灯独立供电，无需预埋输电线，环保美观，安装简易方便，可免去敷设电缆时对植被的破坏，可用作步行道及公路辅路的照明，也可用于乡村、海岛、高速公路等照明。系统每天照明3-12小时，可连续5-10个阴雨天气正常工作，标准配置，附支架及配件，亮度及样式可据客户要求定制，为客户设计经济合理的综合解决方案。</p>
		<%= image_tag "ad.jpg" %>
	</div>
</div>