<div class="sidebar">
	<div class="well box">
		<h3 class='head'>联系我们/Contact Us</h3>
		<ul class='no-list'>
			<li> 地　址:张家港杨舍西街5号       </li>
		  <li> 联系人:唐晓伟             </li>
		  <li> 手　机:15151563966     </li>
		  <li> 传　真:051258790228    </li>
		  <li> 电　话:051258790228    </li>
		  <li> 网　址:http://jsfirm.cn</li>
		</ul>
	</div>
	
	<div class="well">
		<h3 class='head'>合作单位/Parter</h3>
		<ul class='no-list'>
			<li><a href="http://www.csst.com">CSST中国安防</a></li>
			<li><a href="http://www.highwit.com.cn">上海慧谷多高</a></li>
			<li><a href="http://www.aoyang.com/">江苏澳洋</a></li>
			<li><a href="http://www.aoyang.com/">江苏澳洋</a></li>
		</ul>
	</div>
	
	<div>
		<%= image_tag "aa1.jpg" %>
	</div>
</div>